<launch>
<!--
  Example move_base configuration. Descriptions of parameters, as well as a full list of all amcl parameters, can be found at http://www.ros.org/wiki/move_base.
-->

  <arg name="map_file" default="$(find ros_arduino_python)/config/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!--<include file="$(find ros_arduino_python)/launch/amcl.launch" />-->

  <remap from="base_pose_ground_truth" to="/odom"/>
  <node name="fake_localization" pkg="fake_localization" type="fake_localization" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ros_arduino_python)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ros_arduino_python)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ros_arduino_python)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_arduino_python)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ros_arduino_python)/config/base_local_planner_params.yaml" command="load" />
    <param name="controller_frequency" type="double" value="10.0" />

  </node>
</launch>